Repository NormB/colima-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-check, check-env-example

.pre-commit-config.yaml:

# Pre-commit hooks for colima-services
# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, master]

  # Shell script formatting and linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [--severity=warning]
        exclude: ^(node_modules|.git)/

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.7.0-1
    hooks:
      - id: shfmt
        args: [-w, -i, 2, -ci, -sr]

  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # YAML formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.10.0
    hooks:
      - id: yamlfmt
        args: [-formatter, "retain_line_breaks=true"]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--fix]

  # Docker Compose validation
  - repo: local
    hooks:
      - id: docker-compose-check
        name: docker-compose-check
        entry: docker compose config --quiet
        language: system
        files: docker-compose\.yml$
        pass_filenames: false

  # Environment file validation
  - repo: local
    hooks:
      - id: check-env-example
        name: check-env-example
        entry: bash -c 'grep -E "^[A-Z_]+=" .env.example > /dev/null || (echo ".env.example has invalid format" && exit 1)'
        language: system
        files: \.env\.example$
        pass_filenames: false

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: package.lock.json

  # Git commit message linting
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        stages: [commit-msg]

# Configuration
default_language_version:
  python: python3.11

ci:
  skip: [docker-compose-check]

Reorganize documentation structure
  DOCUMENTATION_AUDIT_REPORT.md
  docs/CRITICAL_ISSUES_STATUS.md
  docs/SECURITY_REMEDIATION.md
  docs/TESTING_APPROACH.md
  docs/TEST_COVERAGE_SUMMARY.md
  docs/USAGE.md
Due: none

Remove obsolete documentation files
  docs/CRITICAL_ISSUES_STATUS.md
  docs/SECURITY_REMEDIATION.md
  docs/TEST_COVERAGE_SUMMARY.md
Due: none

docs: Fix broken links and update placeholder text across all documentation
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/SERVICES.md
  docs/VAULT_SECURITY.md
  tests/TEST_COVERAGE.md
Due: none

docs: Create comprehensive ACKNOWLEDGEMENTS.md with all software dependencies
  README.md
  docs/ACKNOWLEDGEMENTS.md
  docs/README.md
Due: none

fix: improve security and resource management in docker-compose
  docker-compose.yml
Due: docker-compose-check

feat: add resource limits, Go linting, and configuration improvements
  .github/workflows/lint.yml
  docker-compose.yml
  reference-apps/fastapi-api-first/pytest.ini
Due: docker-compose-check

docs: add table of contents to all markdown files
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  SECURITY.md
  docs/BEST_PRACTICES.md
  docs/INSTALLATION.md
  docs/MANAGEMENT.md
  docs/OBSERVABILITY.md
  docs/README.md
  docs/REDIS.md
  docs/SECURITY_ASSESSMENT.md
  docs/SERVICES.md
  docs/TESTING_APPROACH.md
  docs/TEST_RESULTS.md
  docs/VAULT.md
  reference-apps/CHANGELOG.md
  reference-apps/README.md
  reference-apps/nodejs/README.md
  reference-apps/rust/README.md
  reference-apps/shared/test-suite/README.md
  tests/README.md
  tests/TEST_COVERAGE.md
Due: none

test: fix 2 failing pytest tests in FastAPI reference app
  reference-apps/fastapi/tests/test_api_endpoints_integration.py
  reference-apps/fastapi/tests/test_cors.py
Due: none

feat: add GitHub social media preview image
  social-preview.png
Due: none

refactor: reorganize root directory structure
  .github/CHANGELOG.md
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  README.md
  assets/social-preview.png
  docs/README.md
  docs/SERVICES.md
  reference-apps/README.md
  scripts/validate-cicd.sh
Due: none

fix: add wiki documentation examples to gitleaksignore
  .gitleaksignore
Due: none

chore: bump version to 1.1.1
  .github/CHANGELOG.md
  VERSION
Due: none

docs: implement world-class documentation improvements
  docs/DISASTER_RECOVERY.md
  docs/DOCUMENTATION_ROADMAP.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/PERFORMANCE_BASELINE.md
  reference-apps/golang/cmd/api/main.go
  reference-apps/rust/README.md
  reference-apps/typescript-api-first/README.md
Due: none

docs: add IDE setup guide and certificate lifecycle management
  docs/IDE_SETUP.md
  docs/VAULT.md
Due: none

docs: complete world-class documentation implementation (Phase 2 Final)
  DOCUMENTATION_STATUS.md
  docs/DOCUMENTATION_ROADMAP.md
Due: none

chore: bump version to 1.2.0
  .github/CHANGELOG.md
  VERSION
Due: none

docs: standardize Apple Silicon terminology to M Series Processors
  .github/CHANGELOG.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/question.yml
  DOCUMENTATION_STATUS.md
  README.md
  docker-compose.yml
  docs/INSTALLATION.md
  docs/PERFORMANCE_BASELINE.md
  wiki/Acknowledgements.md
  wiki/Architecture-Overview.md
  wiki/FAQ.md
  wiki/Home.md
  wiki/Installation.md
  wiki/Quick-Start-Guide.md
Due: docker-compose-check

Add Dependabot configuration file
  .github/dependabot.yml
Due: none

fix: correct Dependabot configuration with comprehensive ecosystem monitoring
  .github/CHANGELOG.md
  .github/dependabot.yml
Due: none

feat: upgrade Golang API to Go 1.24.0
  reference-apps/golang/Dockerfile
Due: none

docs: add comprehensive dependency upgrade report
  DEPENDENCY_UPGRADE_REPORT.md
Due: none

docs: complete Go 1.24 upgrade with GOTOOLCHAIN=auto resolution
  .github/CHANGELOG.md
  DEPENDENCY_UPGRADE_REPORT.md
  reference-apps/golang/Dockerfile
  reference-apps/golang/go.mod
  reference-apps/golang/go.sum
Due: none

docs: update to reflect 100% Dependabot PR success rate (30/30 merged)
  .github/CHANGELOG.md
  DEPENDENCY_UPGRADE_REPORT.md
Due: none

docs: finalize dependency upgrade report with 100% success achievement
  DEPENDENCY_UPGRADE_REPORT.md
Due: none

chore: bump version to 1.2.1 - dependency maintenance release
  .github/CHANGELOG.md
Due: none

docs: update dependency upgrade report with comprehensive test results
  DEPENDENCY_UPGRADE_REPORT.md
Due: none

docs: sync wiki with v1.2.1 changelog and dependency report
  wiki/Changelog.md
  wiki/Dependency-Upgrade-Report.md
  wiki/Home.md
Due: none

chore: remove historical tracking documents
  DEPENDENCY_UPGRADE_REPORT.md
  DOCUMENTATION_STATUS.md
  wiki/Dependency-Upgrade-Report.md
Due: none

fix: remove weak default password from .env.example
  .env.example
Due: check-env-example

fix: remove weak default password from .env.example (#14)
  .env.example
Due: check-env-example

feat: add GitHub Sponsors button
  .github/FUNDING.yml
Due: none

feat: add GitHub Sponsors button (#15)
  .github/FUNDING.yml
Due: none

feat: upgrade PostgreSQL from 16.6 to 18.0 with compatibility layer
  .github/CHANGELOG.md
  README.md
  configs/postgres/01-pg18-compatibility.sql
  configs/postgres/scripts/init.sh
  configs/vector/vector.yaml
  docker-compose.yml
  docs/SERVICES.md
  manage-colima.sh
  scripts/load-vault-env.sh
Due: docker-compose-check

fix: enforce Vault-first credential handling in test suites
  FIXES.md
  tests/test-observability.sh
  tests/test-pgbouncer.sh
  tests/test-postgres-extended.sh
  tests/test-vault-extended.sh
Due: none

fix: enforce Vault-first credential handling in test suites (#17)
  FIXES.md
  tests/test-observability.sh
  tests/test-pgbouncer.sh
  tests/test-postgres-extended.sh
  tests/test-vault-extended.sh
Due: none

refactor: rename 'Colima Services' to 'DevStack Core' throughout project
  .env.example
  docs/FAQ.md
  docs/INSTALLATION.md
  reference-apps/fastapi-api-first/app/config.py
  reference-apps/fastapi/app/config.py
  tests/requirements.txt
Due: check-env-example

docs: update README to use 'DevStack Core environment' instead of 'Colima environment'
  README.md
Due: none

Refactor: Rename 'Colima Services' to 'DevStack Core' (#18)
  .env.example
  README.md
  docs/FAQ.md
  docs/INSTALLATION.md
  reference-apps/fastapi-api-first/app/config.py
  reference-apps/fastapi/app/config.py
  tests/requirements.txt
Due: check-env-example
